In [5]:
import pandas as pd

In [6]:
train = pd.read_csv("http://localhost:8888/edit/sunday0.csv",header = 1)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 12, saw 2

In [7]:
import pandas as pd

In [16]:
data = pd.read_csv("sunday2.csv",header = 1)

In [15]:
data.head()

NameError: name 'data' is not defined

In [17]:
data.head()

,ADRIAN MACIASZEK,1,A101,11:00,19:20,8:20,99,171,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,99.42%,Unnamed: 20,95.00%,95.00%.1,0,0.1
0,ADRIAN NAGLEWICZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ARTUR KOSCIEN,1.0,A108,11:00,18:44,7:44,158.0,176.0,NaN,NaN,...,NaN,NaN,NaN,NaN,99.44%,NaN,100.00%,100.00%,0.0,0.0
2,BENEDYKT POGORZELSKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENJAMIN WALKER,1.0,A100,11:00,18:32,7:32,100.0,198.0,NaN,NaN,...,NaN,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
4,BLAZEJ KOSTERA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data = pd.read_csv("sunday2.csv")
data.head()

,DA NAME,IN,ROUTE,LOG IN,LOG OUT,TORH,MILEAGE,PARCEL,Unnamed: 8,LWP,...,FUEL,SUPPORT,VANS,Unnamed: 18,FDDS,PHR,CALL,POD,CONS,DAILY DPMO
0,ADRIAN MACIASZEK,1.0,A101,11:00,19:20,8:20,99.0,171.0,NaN,NaN,...,NaN,NaN,NaN,NaN,99.42%,NaN,95.00%,95.00%,0.0,0.0
1,ADRIAN NAGLEWICZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARTUR KOSCIEN,1.0,A108,11:00,18:44,7:44,158.0,176.0,NaN,NaN,...,NaN,NaN,NaN,NaN,99.44%,NaN,100.00%,100.00%,0.0,0.0
3,BENEDYKT POGORZELSKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENJAMIN WALKER,1.0,A100,11:00,18:32,7:32,100.0,198.0,NaN,NaN,...,NaN,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0

In [30]:
import pandas as pd
data = pd.read_csv("sunday2.csv", na_values=" NaN")
data

,DA NAME,IN,ROUTE,LOG IN,LOG OUT,TORH,MILEAGE,PARCEL,LWP,LVP,...,SUP,FUEL,SUPPORT,VANS,FDDS,PHR,CALL,POD,CONS,DAILY DPMO
0,ADRIAN MACIASZEK,1.0,A101,11:00,19:20,8:20,99.0,171.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.42%,NaN,95.00%,95.00%,0.0,0.0
1,ADRIAN NAGLEWICZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARTUR KOSCIEN,1.0,A108,11:00,18:44,7:44,158.0,176.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.44%,NaN,100.00%,100.00%,0.0,0.0
3,BENEDYKT POGORZELSKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENJAMIN WALKER,1.0,A100,11:00,18:32,7:32,100.0,198.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data

,DA NAME,IN,ROUTE,LOG IN,LOG OUT,TORH,MILEAGE,PARCEL,LWP,LVP,...,SUP,FUEL,SUPPORT,VANS,FDDS,PHR,CALL,POD,CONS,DAILY DPMO
0,ADRIAN MACIASZEK,1.0,A101,11:00,19:20,8:20,99.0,171.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.42%,NaN,95.00%,95.00%,0.0,0.0
1,ADRIAN NAGLEWICZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARTUR KOSCIEN,1.0,A108,11:00,18:44,7:44,158.0,176.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.44%,NaN,100.00%,100.00%,0.0,0.0
3,BENEDYKT POGORZELSKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENJAMIN WALKER,1.0,A100,11:00,18:32,7:32,100.0,198.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
mean1 = data['TORH'].mean

In [28]:
mean1

<bound method Series.mean of 0     8:20
1      NaN
2     7:44
3      NaN
4     7:32
      ...
93     NaN
94     NaN
95     NaN
96     NaN
97     NaN
Name: TORH, Length: 98, dtype: object>

In [68]:
data = pd.read_csv("sunday2.csv")
data.dropna(subset=['ROUTE'],axis = 'rows', how ='all', inplace = True) 
data

,DA NAME,IN,ROUTE,LOG IN,LOG OUT,TORH,MILEAGE,PARCEL,LWP,LVP,...,SUP,FUEL,SUPPORT,VANS,FDDS,PHR,CALL,POD,CONS,DAILY DPMO
0,ADRIAN MACIASZEK,1.0,A101,11:00,19:20,8:20,99.0,171.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.42%,NaN,95.00%,95.00%,0.0,0.0
2,ARTUR KOSCIEN,1.0,A108,11:00,18:44,7:44,158.0,176.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.44%,NaN,100.00%,100.00%,0.0,0.0
4,BENJAMIN WALKER,1.0,A100,11:00,18:32,7:32,100.0,198.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
6,CARLOS LOPEZ,1.0,A109,11:00,18:21,7:21,159.0,193.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0
10,DIMITAR PETKOV,1.0,A97,11:00,18:57,7:57,71.0,199.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0
11,DIMITAR VALEV,1.0,A105,11:00,17:25,6:25,124.0,140.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
13,GREGORY STREETE,1.0,A104,11:00,19:20,8:20,132.0,199.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
14,ILIYAN STOYANOV,1.0,A107,11:00,17:13,6:13,125.0,194.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.49%,NaN,100.00%,94.12%,0.0,0.0
17,KRASIMIR IVANOV,1.0,A102,11:00,17:58,6:58,109.0,203.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,98.54%,NaN,100.00%,100.00%,0.0,0.0
18,KRZYSZTOF WIECZYNSKI,1.0,A110,11:00,17:14,6:14,152.0,205.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0
29,ARKADIUSZ STANKEWICZ,1.0,A98,11:00,18:55,7:55,78.0,157.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,92.90%,NaN,94.74%,69.23%,0.0,0.0
30,PIOTR SLODEK,1.0,A99,11:00,19:34,8:34,79.0,184.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.46%,NaN,100.00%,100.00%,0.0,0.0
31,DIYANA NEYKOVA,1.0,A106,11:00,18:21,7:21,159.0,152.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0

In [74]:
mean1 = data['MILEAGE'].mean()
mean1

118.84615384615384

In [72]:
mean2 = data['PARCEL'].mean()
mean2

KeyError: 'PARCEL'

In [75]:
mean1 = data['MILEAGE'].mean()
mean1

118.84615384615384

In [86]:
data['MILEAGE']

0      99.0
2     158.0
4     100.0
6     159.0
10     71.0
11    124.0
13    132.0
14    125.0
17    109.0
18    152.0
29     78.0
30     79.0
31    159.0
Name: MILEAGE, dtype: float64

In [87]:
data['MILEAGE']

0      99.0
2     158.0
4     100.0
6     159.0
10     71.0
11    124.0
13    132.0
14    125.0
17    109.0
18    152.0
29     78.0
30     79.0
31    159.0
Name: MILEAGE, dtype: float64

In [88]:
data

,DA NAME,IN,ROUTE,LOG IN,LOG OUT,TORH,MILEAGE,PARCEL,LWP,LVP,...,SUP,FUEL,SUPPORT,VANS,FDDS,PHR,CALL,POD,CONS,DAILY DPMO
0,ADRIAN MACIASZEK,1.0,A101,11:00,19:20,8:20,99.0,171.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.42%,NaN,95.00%,95.00%,0.0,0.0
2,ARTUR KOSCIEN,1.0,A108,11:00,18:44,7:44,158.0,176.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.44%,NaN,100.00%,100.00%,0.0,0.0
4,BENJAMIN WALKER,1.0,A100,11:00,18:32,7:32,100.0,198.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
6,CARLOS LOPEZ,1.0,A109,11:00,18:21,7:21,159.0,193.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0
10,DIMITAR PETKOV,1.0,A97,11:00,18:57,7:57,71.0,199.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0
11,DIMITAR VALEV,1.0,A105,11:00,17:25,6:25,124.0,140.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
13,GREGORY STREETE,1.0,A104,11:00,19:20,8:20,132.0,199.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.50%,NaN,100.00%,100.00%,0.0,0.0
14,ILIYAN STOYANOV,1.0,A107,11:00,17:13,6:13,125.0,194.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.49%,NaN,100.00%,94.12%,0.0,0.0
17,KRASIMIR IVANOV,1.0,A102,11:00,17:58,6:58,109.0,203.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,98.54%,NaN,100.00%,100.00%,0.0,0.0
18,KRZYSZTOF WIECZYNSKI,1.0,A110,11:00,17:14,6:14,152.0,205.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0
29,ARKADIUSZ STANKEWICZ,1.0,A98,11:00,18:55,7:55,78.0,157.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,92.90%,NaN,94.74%,69.23%,0.0,0.0
30,PIOTR SLODEK,1.0,A99,11:00,19:34,8:34,79.0,184.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,99.46%,NaN,100.00%,100.00%,0.0,0.0
31,DIYANA NEYKOVA,1.0,A106,11:00,18:21,7:21,159.0,152.0,NaN,NaN,...,£18.00,NaN,NaN,NaN,100.00%,NaN,100.00%,100.00%,0.0,0.0

In [ ]:
data = pd.read_csv("sunday2.csv")
data.dropna(subset=['ROUTE'],axis = 'rows', how ='all', inplace = True) 
data